*{
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family:'FiraSans' ;
    src: url('font/FiraSans-Regular.ttf') format(opentype);
    font-weight: normal;
}

@font-face {
    font-family:'FiraSans' ;
    src: url('FiraSans-Bold.ttf') format(opentype);
    font-weight: bold;
}
:root{
    --cinza-escuro: #141414;
    --preto: #000000;
    --gradiente: linear-gradient(#b6f829, #67dd0a);

}

body{
    font-family: 'Fira Sans', 'FiraSans-Bold', 'Arial', 'sans-serif';
    padding: 0px;
    margin: 0px;
    color: var(--cinza-escuro);
    
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

h1,h2,h3,p{
    margin: 0px;
}

img{
    max-width: 100%;
    display: block;
}


.subtitulo{
    font-size: 8rem;
    word-break: break-all;
    max-width: 4ch;
    line-height: 1;
    text-transform: uppercase;
}


